---
import { getCollection, render } from "astro:content";
import BaseLayout from "layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const articles = await getCollection("blog");
  return articles.map((article) => ({
    params: { id: article.id },
    props: { article },
  }));
}

const { article } = Astro.props;
const { Content } = await render(article);
---

<BaseLayout>
  <article class="prose mx-auto dark:prose-invert prose-zinc">
    <h1>{article.data.title}</h1>
    <Content />
  </article>
</BaseLayout>
