---

---

<footer class="grid grid-cols-3 bg-black text-white px-8 py-4">
  <span>© 2023 Maximilian Grabau</span>
  <span class="text-center"
    >Gemacht mit ❤️ von <a
      class="underline hover:text-secondary transition-all"
      href="/">mir</a
    ></span
  >
  <a
    class="text-right underline hover:text-secondary transition-all"
    href="#home">nach oben</a
  >
</footer>
