---
const { href, label } = Astro.props;
---

<li class="relative">
  <a
    href={href}
    class="text-white text-2xl font-semibold decoration-0 transition-all hover:text-secondary focus:text-secondary active:text-primary no-underline"
  >
    {label}
  </a>
</li>
