---
import Section from "../layout/Section.astro";
import Pills from "../pills/Pills.astro";

const skills = [
  "PHP",
  "JavaScript",
  "CSS",
  "Symfony",
  "React",
  "Astro",
  "Node.js",
  "SQL",
  "GraphQL",
  "GSAP",
  "Git",
  "Docker",
];
const tools = [
  "Ubuntu",
  "Windows",
  "PHPStorm",
  "Visual Studio Code",
  "Figma",
  "GitHub / GitLab",
  "Notion",
  "Jira / YouTrack",
];
---

<Section id="about">
    <h2>Über mich</h2>
    <p>
      Seit ich im Alter von 9 Jahren (ca. 2008) gemeinsam mit meinem Vater
      meine erste Website gestaltet und veröffentlicht hatte, war es mein
      Ziel, Programmierer zu werden.
    </p>
    <p>
      Mein Ziel ist es seitdem, Menschen mit Software den Alltag zuhause und
      im Büro leichter, produktiver und unbeschwerter zu machen. Eine
      nutzerorientierte Digitalisierung von Prozessen sowie Freude bei der
      Benutzung sind die Kriterien, die meiner Meinung nach ausschlaggebend
      für die Qualität von Software sind.
    </p>
    <p>
      <strong>
        Die beste Anwendung bringt Niemandem etwas, wenn sie ungern oder
        erst gar nicht benutzt wird.
      </strong>
    </p>
    <h3>Skills</h3>
    <Pills pills={skills} variant="large" />
    <h3>Tools</h3>
    <Pills pills={tools} variant="large" />
  </Section>