---
import BlogPost from "../BlogPost.astro";
import Section from "../layout/Section.astro";

const posts = await Astro.glob("../../pages/posts/*.md");
---

<Section id="blog">
    <h2>Neuste Blog-Einträge</h2>
    <div class="grid">
      {posts.map((post) => (
        <BlogPost post={post} />
      ))}
    </div>
  </Section>