---
interface Props {
  label: string;
  variant: "normal" | "large";
  class?: string;
}

const { label, variant, class: additionalClasses } = Astro.props;
---

<style>
  .pill {
    @apply font-code text-black bg-secondary rounded-full;
  }

  .pill--normal {
    @apply text-sm px-4 py-2;
  }

  .pill--large {
    @apply text-lg px-7 py-2 w-fit;
  }
</style>

<li class:list={["pill", `pill--${variant}`, additionalClasses]}>
  {label}
</li>
