---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Section, ContactSection } from "@sections/index";
---

<BaseLayout headerVariant="opaque">
  <Section>
    <h1>404</h1>
    <p>Die von dir aufgerufene Seite konnte leider nicht gefunden werden.</p>
    <a href="/">Zurück zur Homepage</a>
  </Section>
  <ContactSection />
</BaseLayout>
