---
import BaseLayout from "layouts/BaseLayout.astro";
import Button from "../components/Button.astro";
import GridCell from "../components/GridCell.astro";
---

<BaseLayout>
  <GridCell />
  <GridCell />
  <GridCell />

  <GridCell />
  <main class="text-center text-white flex flex-col items-center justify-center">
    <h1 class="font-jacquard text-6xl place-self-center">grabau.dev</h1>
    <span class="font-fira">Software Engineer, Hamburg</span>
  </main>
  <GridCell />

  <GridCell />
  <GridCell />
  <GridCell />
</BaseLayout>
