---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import Pills from "../components/Pills.astro";
import { sections } from "../sections.js";
import MouseTrailer from "../components/MouseTrailer.astro";

const posts = await Astro.glob("./posts/*.md");

// strings for pill lists etc.
const cornerstones = ["Web Development", "PHP", "WordPress", "UI/UX"];
const skills = [
  "PHP",
  "JavaScript",
  "CSS",
  "Symfony",
  "WordPress",
  "React",
  "Astro",
  "MySQL",
  "GraphQL",
  "GSAP",
  "Git",
];
const tools = [
  "Ubuntu",
  "Windows 11",
  "PHPStorm",
  "Visual Studio Code",
  "Figma",
  "GitHub / GitLab",
  "Obsidian",
  "Jira / YouTrack",
];
---

<BaseLayout>
  <!-- Landing Section -->
  {
    sections.landing && (
      <section id="home" class="bg-pattern text-primary">
        <MouseTrailer />
        <div class="content">
          <div class="heading">
            <span id="name-subheading">Hi, ich bin</span>
            <h1 id="name-heading">Maximilian</h1>
          </div>
          <Pills pills={cornerstones} size="large" />
          <a href="#about" class="scroll-indicator" id="scrollindicator">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-arrow-down"
            >
              <>
                <line x1="12" y1="5" x2="12" y2="19" />
                <polyline points="19 12 12 19 5 12" />
              </>
            </svg>
          </a>
          <img src="blob1.svg" class="blob" id="blob1" />
          <img src="blob2.svg" class="blob" id="blob2" />
        </div>
      </section>
    )
  }
  <!-- About Section -->
  {
    sections.about && (
      <section id="about" class="bg-primary">
        <div class="content">
          <h2>Über mich</h2>
          <p>
            Seit ich im Alter von 9 Jahren (ca. 2008) gemeinsam mit meinem Vater
            meine erste Website gestaltet und veröffentlicht hatte, war es mein
            Ziel, Programmierer zu werden.
          </p>
          <p>
            Mein Ziel ist es seitdem, Menschen mit Software den Alltag zuhause
            und im Büro leichter, produktiver und unbeschwerter zu machen. Eine
            nutzerorientierte Digitalisierung von Prozessen sowie Freude bei der
            Benutzung sind die Kriterien, die meiner Meinung nach
            ausschlaggebend für die Qualität von Software sind.
          </p>
          <p>
            <strong>
              Die beste Anwendung bringt Niemandem etwas, wenn sie ungern oder
              erst gar nicht benutzt wird.
            </strong>
          </p>
          <h3>Skills</h3>
          <Pills pills={skills} size="large" variant="grid" />
          <h3>Tools</h3>
          <Pills pills={tools} size="large" variant="grid" />
        </div>
      </section>
    )
  }
  <!-- Blog Section -->
  {
    sections.blog && (
      <section id="blog">
        <div class="content">
          <h2>Neuste Blog-Einträge</h2>
          <div class="grid">
            {posts.map((post) => (
              <BlogPost post={post} />
            ))}
          </div>
        </div>
      </section>
    )
  }
  <!-- Contact Section -->
  {
    sections.contact && (
      <section id="contact" class="bg-secondary text-primary section--compact">
        <div class="content">
          <h2>Kontakt</h2>
          <p>
            Denkst du, dass meine Ambitionen zu deiner Firma und/oder deinem
            Projekt passen? Dann schreib mir gern eine Nachricht!
          </p>
          <div class="button-group">
            <a href="#" class="button">
              <svg
                viewBox="0 0 24 24"
                width="24"
                height="24"
                stroke="currentColor"
                fill="none"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-linkedin"
              >
                <circle cx="12" cy="12" r="4" />
                <path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94" />
              </svg>
              Email
            </a>
            <a
              href="https://www.linkedin.com/in/maximilian-grabau/"
              target="_blank"
              rel="noreferrer"
              class="button"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-linkedin"
              >
                <rect x="2" y="9" width="4" height="12" />
                <>
                  <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z" />
                  <circle cx="4" cy="4" r="2" />
                </>
              </svg>
              LinkedIn
            </a>
            <a
              href="https://github.com/zeronacer"
              target="_blank"
              rel="noreferrer"
              class="button"
            >
              <svg
                viewBox="0 0 24 24"
                width="24"
                height="24"
                stroke="currentColor"
                fill="none"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-linkedin"
              >
                <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22" />
              </svg>
              GitHub
            </a>
          </div>
        </div>
      </section>
    )
  }
</BaseLayout>

<script>
  import gsap, { Linear } from "gsap";

  gsap.to("#blob1", {
    rotation: "360",
    ease: Linear.easeNone,
    repeat: -1,
    duration: 90,
  });

  gsap.to("#blob2", {
    rotation: "-360",
    ease: Linear.easeNone,
    repeat: -1,
    duration: 80,
  });

  gsap.to("#scrollindicator", {
    duration: 0.8,
    y: 5,
    ease: "circ.in",
    repeat: -1,
    yoyo: true,
  });
</script>
