---
import BaseLayout from "../layouts/BaseLayout.astro";
import Pills from "../components/pills/Pills.astro";
import { sections } from "../sections.js";
import MouseTrailer from "../components/MouseTrailer.astro";
import Section from "../components/layout/Section.astro";
import ContactSection from "../components/sections/ContactSection.astro";
import AboutSection from "../components/sections/AboutSection.astro";
import BlogSection from "../components/sections/BlogSection.astro";

const cornerstones = ["Web Development", "UI/UX", "Tools & DX"];
---

<BaseLayout headerVariant="transparent">
  <!-- Landing Section -->
  {
    sections.landing && (
      <Section id="home" class="bg-primary text-white min-h-screen flex">
        <MouseTrailer />
        <div class="mt-32 z-10">
          <span class="text-5xl">Hi, ich bin</span>
          <h1 class="text-9xl font-semibold">Maximilian</h1>
        </div>
        <Pills pills={cornerstones} variant="large" class="z-10" />
        <a href="#about" class="self-center z-10 mt-16" id="scrollindicator">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="text-white h-16"
          >
            <>
              <line x1="12" y1="5" x2="12" y2="19" />
              <polyline points="19 12 12 19 5 12" />
            </>
          </svg>
        </a>
        <img
          src="blob1.svg"
          id="blob1"
          class="absolute -top-[40%] -left-[30%] z-0"
        />
        <img
          src="blob2.svg"
          id="blob2"
          class="absolute -bottom-[50%] -right-[40%] z-0"
        />
      </Section>
    )
  }
  <!-- About Section -->
  {sections.about && <AboutSection /> }
  <!-- Blog Section -->
  { sections.blog && <BlogSection />  }
  <!-- Contact Section -->
  {sections.contact && <ContactSection />}
</BaseLayout>

<script>
  import gsap, { Linear } from "gsap";

  gsap.to("#blob1", {
    rotation: "360",
    ease: Linear.easeNone,
    repeat: -1,
    duration: 90,
  });

  gsap.to("#blob2", {
    rotation: "-360",
    ease: Linear.easeNone,
    repeat: -1,
    duration: 80,
  });

  gsap.to("#scrollindicator", {
    duration: 0.8,
    y: 5,
    ease: "circ.in",
    repeat: -1,
    yoyo: true,
  });
</script>
