---
import BaseLayout from "layouts/BaseLayout.astro";
import MapBackground from "components/MapBackground.astro";
---

<BaseLayout>
  <MapBackground />
  <main class="fixed top-1/2 left-1/2 -translate-1/2 text-center text-white">
    <h1 class="font-jacquard text-6xl">grabau.dev</h1>
    <ul class="font-micro flex content-center items-center gap-4 text-2xl">
      <li>Software Engineer</li>
      <li>Hamburg, Germany</li>
    </ul>
  </main>
</BaseLayout>
