---
import BaseLayout from "layouts/BaseLayout.astro";
import MapBackground from "components/MapBackground.astro";
---

<BaseLayout>
  <MapBackground />
  <main>
    <h1>grabau.dev</h1>
  </main>
</BaseLayout>

<style>
  main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
</style>
