---
const { post } = Astro.props;

const dateOptions: object = {
    year: "numeric",
    month: "long",
    day: "numeric"
}
const formattedDate = new Date(post.frontmatter.pubDate).toLocaleDateString("de-DE", dateOptions);
---

<div class="project-link-wrapper">
  <a href={post.url} class="project-link">
    <div class="project-details">
      <h3 class="project-title">{post.frontmatter.title}</h3>
      <span class="project-date">{formattedDate}</span>
    </div>
    <ul class="pills">
        {post.frontmatter.tags.map((tag) => <li>{tag}</li>)}
    </ul>
  </a>
</div>
