---
const { href } = Astro.props;
---

<a
  href={href}
  class="text-primary bg-accent rounded-full px-8 py-4 text-lg transition-all flex gap-2 font-semibold justify-center items-center hover:bg-accent-dark grow no-underline hover:text-primary"
>
  <slot />
</a>
