---
---

<footer>
  <span class="copyright">© 2023 Maximilian Grabau</span>
  <span class="built-by">Gemacht mit ❤️ von <a href="#home">mir</a></span>
  <a class="to-top" href="#home">nach oben</a>
</footer>
