---

---

<style>
  #trailer {
    @apply absolute left-[50%] top-[50%] rounded-full bg-white opacity-5 h-[500px] z-0 aspect-square -translate-x-[50%] -translate-y-[50%];
  }

  @media screen and (max-width: 480px) {
    #trailer {
      @apply hidden;
    }
  }
</style>

<div id="trailer"></div>

<script>
  const trailer = document.getElementById("trailer");

  document.body.onpointermove = (event) => {
    const { clientX, clientY } = event;
    trailer.animate(
      {
        left: `${clientX}px`,
        top: `${clientY}px`,
      },
      { duration: 3000, fill: "forwards" }
    );
  };
</script>
