---
import Navigation from "../components/layout/Navigation.astro";
import Footer from "../components/layout/Footer.astro";
import "../styles/css-reset.css";
import "../styles/main.css";

interface Props {
  headerVariant: "transparent" | "opaque";
}

const { headerVariant } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Maximilian Grabau</title>
  </head>
  <body
    class="bg-primary text-secondary w-screen overflow-x-hidden relative font-inter"
  >
    <Navigation variant={headerVariant} />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
