---
interface Props {
  headerVariant?: "solid"
}

import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import "../styles/main.scss";

const {headerVariant} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Maximilian Grabau</title>
  </head>
  <body>
    <div class="page-wrapper">
      <Navigation variant={headerVariant} />
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
