---
import "@hackernoon/pixel-icon-library/fonts/iconfont.css";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>grabau.dev</title>
  </head>
  <body
    class="font-funnel h-screen overflow-hidden bg-zinc-950"
  >
    <slot />
  </body>
</html>
