name: Deploy to S3

on:
    release:
        types: [published]
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
            - name: Install, build and upload
              uses: withastro/action@v3

    upload:
        runs-on: ubuntu-latest
        needs: build
        steps:
            - name: Download build artifact
              uses: actions/download-artifact@v5
              with:
                  name: github-pages
            - uses: shallwefootball/s3-upload-action@master
              with:
                  aws_key_id: ${{ secrets.S3_KEY_ID }}
                  aws_secret_access_key: ${{ secrets.S3_SECRET_ACCESS_KEY}}
                  aws_bucket: ${{ secrets.S3_BUCKET }}
                  source_dir: "."
